
@{
    ViewData["Title"] = "Login";
}

<h2>Note Taking App</h2>

@using (Html.BeginForm())
{
    <input type="text" name="Username" />
    <input type="password" name="Password" />
    <input type="submit" value="Submit" />
}
